<h1>HSU :: Main</h1>
<div>
<span style="float:left; width: 250px">
  <%= Onion.all.count %> Hidden Services listed
<br>
<%= Onion.up %> Up / <%= Onion.down %> Down
</span>
<span style="float:left">
  Last update <%= Onion.last_update %>
</span>
</div>

<br style="clear:both">

<div class="row-fluid marketing">
  <% 2.times do |i| %>
  <div class="span6">
    <% Onion.limit(3).offset(3 * i).each do |o| %>
      <h4><a href="<%= onion_path URI.parse(o.url).host %>"><%= o.title %></a></h4>
      <p>Hidden service up and running<p>
    <% end %>
  </div>
  <% end %>
</div>


