<p id="notice"><%= notice %></p>
<p class="message good" id="message">
<%= @onion.statuses.all.any? && @onion.statuses.last.status == 200 ? 'Service is up and running' : 'Derp'%>
</p>

<% if @onion.statuses.any? %>
<div style="display:table-row;">
    <div style="display:table-cell; vertical-align:middle;width:250px">
        <h2 class="detail">Mean response time</h2>
        <span class="number">
            <%= @response %>ms
        </span>
        <br>
        <br>
        <h2 class="detail">Service availability</h2>
        <span class="number">
            <%= @availability %>%
        </span>
    </div>
    <div style="display:table-cell">
        <img alt="" src="/<%= URI.parse(@onion.url).host + '-response.png' %>">
    </div>
</div>
<% end %>
